<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <h2>Neil Unico</h2>
    <img src="/img/me.jpg" alt="me" style: width="400px"; height="400px" style="float: right">
    <p>My name is Neil Unico, I am currently a student at Centennial College in the Software Engineering Technician Program. 
      I have a passion for learning new things and applying them to better myself and my lifestyle. I believe that without knowledge, one cannot
      enjoy life to the fullest.
    </p>
    <a href="/assests/resume.pdf" target="_blank"> Get to know me and my achievements! Link to my resume</a>

    </div>
    </main>
    
    <!--bottom nav-->
    
   

      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   