<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <h2>Welcome to Unico & co.</h2>
    <p>Here at Unico & co., we strive to be the the most accommodating and welcoming software development firm.</p>
    <p>We will be the most creative, innovative, and understanding firm.</p>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   