<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <h1>PROJECTS</h1>

    <h3>JAVA</h3>
    <a target="_blank" href=/assests/Neil_14_Lab1><img src=/img/JAVA1.png alt="JAVA1" style: width="200px"; height="200px"></a>
    <p>This is the first assignment that I have done in our Introduction to Java Programming class.</p>

    <h3>JAVA WEB DEVELOPMENT</h3>
    <a target="_blank" href=/assests/A4><img src=/img/JAVAWEB.png alt="JAVAWEB" style: width="200px"; height="200px"></a>
    <p>This is the last assignment that that I have done in my Web Development class in semester 
      2 where we were tasked to create a game.</p>
    <h3>PROGRAMMING 2</h3>
    <a target="_blank" href=/assests/Assignment4><img src=/img/JAVA2.png alt="JAVA2" style: width="200px"; height="200px"></a>
    <p>This is the third assignment in my Programming 2 class that was assigned. We were tasked to make a UI for users so that they 
      were able to order a pizza and see their total price.
    </p>
    <hr>
    <hr>
    <hr>

    </div>
  </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   